{
  "endOfLine": "lf",
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "trailingComma": "all",
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "strict",
  "embeddedLanguageFormatting": "off",
  "jsxSingleQuote": true,
  "requirePragma": true,
  "insertPragma": true
}
